#header {
    width: 100%;
    z-index: 99999;
    background-color: var(--color-primary);
    color: var(--color-text-primary);
    position: fixed;
    top: -10rem;
    border-bottom: .01rem solid #fefefe;
    font-family: 'Urbanist', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    height: 7.8rem;
    transition: top .4s .6s;
}

.header__wrapper {
    display: flex;
    width: 100%;
    position: absolute;
    height: 101%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: -11;
}

.header__left {
    width: 20%;
    padding-left: 2rem;
}

.header__center {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.header__right {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    position: relative;
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0;
}

.navbar__link {
    cursor: pointer;
    width: 14%;
    color: var(--color-text-secondary);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    transition-duration: 1s;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.navbar__link:hover {
    color: var(--color-text-primary);
    transition-duration: 1s;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.navbar__link i {
    width: 2.4rem;
    padding-left: .5rem;
    padding-top: .5rem;
    font-size: 1.5rem;
}

.search__icon {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    position: relative;
    right: 0;
    cursor: pointer;
}

.header__search-box {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    height: 4.5rem;
    width: 25rem;
    top: 0rem;
    margin-top: 2rem;
    right: 3rem;
    border-radius: 1.5rem;
    visibility: hidden;
    overflow: hidden;
}

.active-search {
    transition: all .4s;
    transform: translateY(4rem);
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
    visibility: visible;
}

.header__search-box i {
    color: var(--color-primary);
    position: absolute;
    top: 1.39rem;
    right: .5rem;
}

.search__box-input {
    width: 100%;
    padding-left: 1rem;
}

.search__box-input::placeholder {
    color: var(--color-primary);
}

.header__wallet {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    padding: 1rem 2.5rem;
    border: .2rem solid var(--color-ordinary);
    cursor: pointer;
    margin-right: 6rem;
    border-radius: 5rem;
    transition: all .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    text-transform: capitalize;
}

.header__wallet:hover, .header__wallet:hover a {
    background-color: var(--color-text-primary);
    color: var(--color-ordinary);
    border: .2rem solid var(--color-text-primary);
}

.header__wallet i {
    margin-right: 1rem;
}

.header__mode {
    width: 21rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: capitalize;
    font-size: 1.5rem;
    padding-right: .5rem;
}

.header__mode h5 b {
    font-size: 1.8rem;
}

.header__sun {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 4rem;
    cursor: pointer;
    margin-left: 1rem;
    padding: .5rem .8rem;
    border-radius: 1rem;
    cursor: pointer;
    background-color: var(--color-secondary);
}

.header__moon {
    width: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--color-secondary);
    margin: 0 2rem;
    padding: .6rem .8rem;
    border-radius: 1rem;
    cursor: pointer;
}

#header.change {
    top: 0rem;
    transition: top .4s .4s;
}

.menu {
    position: fixed;
    width: 4rem;
    height: 6rem;
    background-color: var(--color-ordinary);
    position: fixed;
    top: 1rem;
    left: 5rem;
    border-radius: 30rem 30rem 15rem 15rem;
    box-shadow: .1rem .1rem .1rem var(--color-ordinary),
        -.1rem -.1rem .1rem var(--color-ordinary);
    cursor: pointer;
    transition: top .4s .7s;
}

.menu::before {
    content: "";
    width: .3rem;
    height: 4.2rem;
    background-color: var(--color-ordinary);
    position: absolute;
    top: -4.4rem;
    left: calc(50% - 0.15rem);
    box-shadow: 0.1rem .1rem .1rem var(--color-ordinary);
}

.menu.change {
    top: 12rem;
    transition: top .3s .4s;
}

.sub__menu-one::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -1rem;
    left: 2rem;
    border-style: solid;
    border-width: 0 1rem 1rem 1rem;
    border-color: transparent transparent #ffffff transparent;
}

.sub__menu-one {
    display: none;
    width: 18rem;
    background-color: var(--color-text-primary);
    flex-direction: column;
    color: var(--color-text-accent);
    position: absolute;
    top: 5rem;
    left: 2rem;
    font-size: 1.8rem;
    font-weight: 700;
    border-bottom-left-radius: .4rem;
    border-bottom-right-radius: .4rem;
    transition-duration: 1s;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
ul.active-submenu{
    transition-duration: 1s;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    display: flex;
}
.sub__menu-one li {
    text-transform: capitalize;
    width: 100%;
    padding: 2rem 0 2rem 1rem;
    position: relative;
    --color-text-secondary: #E9E9EA;
    border-bottom: .1rem solid var(--color-text-secondary);
    transition: padding .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.sub__menu-one li::after {
    content: '';
    position: absolute;
    width: 0;
    height: .4rem;
    left: .4rem;
    top: 3rem;
    background-color: var(--color-ordinary);
    border-radius: .5rem;
    transition: all .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.sub__menu-one li:hover::after {
    width: 1.5rem;
}

.sub__menu-one li:hover {
    padding: 2rem 0 2rem 2.5rem;
    color: var(--color-ordinary);
}

.sub__menu-one > li.has-child::before {
    font-family: 'light';
    content: '\f105';
    position: absolute;
    left: 15rem;
}
.sub__menu-one > li:hover .sub__menu-two{
    display: flex;
}
.sub__menu-two {
    display: none;
    width: 130%;
    background-color: var(--color-text-primary);
    flex-direction: column;
    color: var(--color-text-accent);
    position: absolute;
    top: 0rem;
    left: 17rem;
    font-size: 1.8rem;
    font-weight: 700;
    border-bottom-left-radius: .4rem;
    border-bottom-right-radius: .4rem;
}