#hero {
    width: 100%;
    margin-top: 15rem;
}

.hero__wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 3rem;
    height: 100%;
    font-family: 'Urbanist', sans-serif;
}

.slider__right {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 50%;
    position: relative;
    right: 2rem;
    top: 3.5rem;
    text-align: center;
}

.slider__right img {
    position: absolute;
    animation: moveSlider 10s infinite linear;
}

.hero__bg {
    width: 55rem;
    top: 5rem;
}

.slider__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 20rem;
    margin-top: 5rem;
}

.slider__left-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: capitalize;
}
.slider__title{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 2rem 0;
    font-size: 5.8rem;
    font-weight: 700;
}
.slider__title h1{
    color: #14141f;
    background: linear-gradient(-45deg, #E250E5, #4B50E6, #E250E5, #4B50E6);
    background-size: 100% 100%;
    -webkit-background-clip: text;
    -webkit-text-stroke: 3px transparent;
}

.slider__title h2{
    color: var(--color-text-primary);
}
.slider__title h3{
    color: var(--color-text-primary);
}
.slider__description {
    width: 100%;
    letter-spacing: .1rem;
    line-height: 3rem;
    color: var(--color-text-secondary);
    text-transform: capitalize;
    font-size: 1.8;
    font-weight: 500;
}

.slider__left-bottom {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 4rem 0;
    font-size: 1.5rem;
    font-weight: 700;
}
.btn-explore{
    height: 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-right: 1.4rem;
}
.btn-explore:hover {
    background-color: var(--color-ordinary);
    color: var(--light-color);
    box-shadow: inset 0 0 0 .2rem var(--color-ordinary);
}

 .btn-explore p{
     padding-right: 1rem;
 }

 .btn-explore i{
     margin-right: 2rem;
 }
.btn-create{
    height: 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.btn-create:hover {
    background-color: var(--color-ordinary);
    color: var(--light-color);
    box-shadow: inset 0 0 0 .2rem var(--color-ordinary);
}

 .btn-create p{
     padding-right: 1rem;
 }

 .btn-create i{
     margin-right: 2rem;
 }
 .bg-circle{
     position: relative;
 }
.shape {
    background: linear-gradient(216.56deg, #E250E5 5.32%, #4B50E6 94.32%);
    border-radius: 50%;
    z-index: 1;
    position: absolute;
}

.circle__shape-16 {
    width: 1.6rem;
    height: 1.6rem;
    right: 62rem;
    top: 6rem;
    animation: circle_xr 10s infinite linear;
}


.circle__shape-22 {
    width: 2.2rem;
    height: 2.2rem;
    left: 62rem;
    top: 45rem;
    animation: circle_xr 10s infinite linear;
}

.circle__shape-32 {
    width: 3.2rem;
    height: 3.2rem;
    top: 40rem;
    right: 32rem;
    animation: circle_xr 10s infinite linear;
}

.circle__shape-48 {
    width: 4.8rem;
    height: 4.8rem;
    top: 40rem;
    right: 66rem;
    animation: circle_x 10s infinite linear;
}

.circle__shape-51 {
    width: 5.1rem;
    height: 5.1rem;
    top: 2rem;
    right: 31rem;
    animation: circle_empty 10s infinite linear;
}

.circle__shape-52 {
    width: 5.2rem;
    height: 5.2rem;
    top: 14rem;
    left: 93rem;
    animation: circle_empty 10s infinite linear;
}

.circle__shape-52::after, .circle__shape-51::after {
    content: '';
    width: 47px;
    height: 47px;
    background: #14141F;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
}

.circle__shape-68 {
    width: 6.8rem;
    height: 6.8rem;
    right: 24rem;
    top: 12rem;
    animation: circle_x 10s infinite linear;
}