#popular {
    width: 100%;
    font-family: 'Urbanist', sans-serif;
    display: flex;
    flex-direction: column;
    color: var(--color-text-primary);
    padding: 0 20rem;
}

.popular__top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5rem 0;
}

.popular__top-left {
    font-weight: 700;
    font-size: 3.6rem;
    text-transform: capitalize;
}

.popular__top a {
    font-size: 1.4rem;
    letter-spacing: .14rem;
    font-weight: 700;
    color: var(--color-ordinary);
    position: relative;
    line-height: 4rem;
    transition: all .4s ease-in-out;
    text-transform: uppercase;

}

.popular__top a:hover {
    background: linear-gradient(216.56deg, #E250E5 5.32%, #4B50E6 94.32%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.popular__top a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1rem;
    width: 100%;
    height: .1rem;
    background: linear-gradient(216.56deg, #E250E5 5.32%, #4B50E6 94.32%);
}
.popular__bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.popular__card {
    display: flex;
    flex-direction: column;
    background: var(--color-secondary);
    border-radius: 1rem;
    padding: 1.5rem;
    text-transform: capitalize;
    margin: 0 1rem;
    width: 25%;
}

.popular__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.popular__content-left {
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 2rem;
}
.popular__content::after{
    font-family: 'light';
    content: '\f00c';
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    color: var(--color-text-primary);
    background-color: var(--color-ordinary);
    position: absolute;
    text-align: center;
    line-height: 1.5;
    top: 4.5rem;
    left: 5rem;
    z-index: 22;
}
.popular__content-center {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0 1rem;
}

.center__title {
    font-size: 2rem;
    font-weight: 700;
    padding-top: .5rem;
}

.center__author {
    padding-top: .5rem;
    display: flex;
    flex-direction: row;
    color: var(--color-text-seconadry);
}

.center__author span {
    font-weight: 400;
    font-size: 1.4rem;
}

.center__author p {
    font-weight: 700;
    font-size: 1.5rem;
    padding-left: .5rem;
}

.popular__content-right {
    padding: .5rem .5rem;
    height: 2.5rem;
    border-radius: .5rem;
    background-color: var(--color-primary);
    color: white;
}
.popular__pictures{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
}
.popular__pictures-item {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 20rem;
    border-radius: 5rem;
    cursor: pointer;
    color: white;
    flex: 0.5;
    margin: .1rem;
    position: relative;
    transition: flex 0.7s ease-in;
}


.popular__pictures-item.popular__item-active {
    flex: 3;
    background-size: cover;
}
