#top-seller {
    width: 100%;
    padding: 10rem;
    display: flex;
    flex-direction: column;
    font-family: 'Urbanist', sans-serif;
}

.seller__top {
    display: flex;
    font-family: '';
    flex-direction: row;
    justify-content: space-between;
    font-size: 3.6rem;
    font-weight: 700;
    padding: 4rem 0rem;
}

.seller__top-left {
    font-family: 'Urbanist', sans-serif;
    letter-spacing: .1rem;
    text-transform: capitalize;
    color: var(--color-text-primary);
}

.seller__top-right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2rem;
}

.seller__prev {
    padding: 1rem;
    background-color: var(--color-primary);
    color: var(--color-text-secondary);
    border: .1rem solid var(--color-ordinary);
    border-radius: 50%;
    margin-right: .5rem;
}

.seller__next {
    background-color: var(--color-text-primary);
    color: var(--color-ordinary);
    border-radius: 50%;
    padding: 1rem;
    margin-right: .5rem;
}

.seller__bottom {
    display: flex;
    flex-direction: row;
    color: var(--color-text-primary);
    overflow: hidden;
}

.seller_card {
    width: 10.5rem;
    display: flex;
    margin: 0 2.6rem;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem !important;
    font-weight: 700 !important;
    position: relative;
    transition: all .3s ease-in-out;
}

.seller_card:hover {
    box-shadow: var(--color-ordinary) 0px 25px 50px -12px;
}
.seller_card:hover img{
    border-radius: 50%;
    transition: all .5s ease-in-out;
}

.seller_card img {
    border-radius: 3.5rem;
}

.seller_card::before {
    font-family: 'light';
    content: "\f00c";
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    color: var(--color-text-primary);
    background-color: var(--color-ordinary);
    position: absolute;
    text-align: center;
    line-height: 1.5;
    top: 9rem;
    right: -1rem;
    z-index: 11;
}

.seller_card h5 {
    text-align: center;
    margin: .8rem 0;
    font-size: 1.8rem;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.seller_card h5:hover {
    color: var(--color-ordinary);
}

.seller_card span {
    text-align: center;
    color: var(--color-text-secondary);
    color: var(--color-text-secondary);

}