#live-auctions {
    margin-top: 15rem;
    margin-bottom: 8rem;
}

#directory {
    margin: 10rem auto;
    color: var(--color-text-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
}
.directory__title{
    font-size: 4.8rem;
    font-weight: 700;
}
.directory__path {
    display: flex;
    flex-direction: row;
}

.directory__path-item {
    letter-spacing: .1rem;
    padding: .2rem;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 400;
}
.directory__path-item a{
    color: var(--light-gray-color);
}
.directory__path-item a:hover {
    color: var(--color-text-onseconadry);
    transition: color .2s;
}

.directory__path-item:not(:last-child)::after {
    content: "/";
    color: var(--light-gray-color);
    padding: 0 1rem;
    cursor: default;
}
.directory__path-item:last-child a{
    cursor: text;
    color: var(--color-text-primary);
}