@keyframes circleEffect {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
#product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15rem auto;
}

.product__left {
    width: 100%;
    padding-right: 0rem;
    padding-left: 10rem;
}


/* Shine */

.example > .block::before {
	position: absolute;
	top: -1.8rem;
	left: 7.5rem;
	z-index: 2;
	display: block;
	content: '';
	width: 3rem;
	height: 18rem;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	transform: skewY(-15deg) rotate(95deg);
}
.example > .block:nth-child(2):before {
	top: -2rem;
	left: 10.8rem;
	width: 2rem;
	height: 23rem;
}
.example > .block:hover::before {
	animation: shine .75s;
}
@keyframes shine {
	100% {
		top: 80%;
	}
}

.example {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    margin: 2rem auto;
  }
  .example > .block {
    position: absolute;
    height: 100%;
    width: 40%;
    perspective: 100rem;
  }
  .example > .block:nth-of-type(1) {
    height: 80%;
    top: 10%;
    left: 0%;
    width: 30%;
  }
  .example > .block:nth-of-type(2) {
    top: 0;
    left: 31%;
  }
  .example > .block:nth-of-type(3) {
    height: 80%;
    top: 10%;
    right: 1%;
    width: 30%;
  }
  .example > .block > .side {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../../images/details/images-item-details.jpg);
    background-size: auto 100%;
    box-shadow: -1vw 0.5vw 1vw rgba(0, 0, 0, 0.3);
  }
  .example > .block > .side.-main {
    height: 100%;
    width: 100%;
    transform: rotateY(30deg);
    transform-origin: 0 50%;
  }
  .example > .block > .side.-left {
    height: 100%;
    width: 20%;
    transform-origin: 0 50%;
    transform: rotateY(-60deg) translateX(-100%);
    filter: brightness(40%);
  }
  .example > .block:nth-of-type(1) > .side.-main {
    background-position: 4% 50%;
    background-size: auto 130%;
  }
  .example > .block:nth-of-type(1) > .side.-left {
    background-position: 0 50%;
    background-size: auto 130%;
  }
  .example > .block:nth-of-type(2) > .side.-main {
    background-position: 50% 0;
  }
  .example > .block:nth-of-type(2) > .side.-left {
    background-position: 28.5% 0;
  }
  .example > .block:nth-of-type(3) > .side.-main {
    background-position: 96% 50%;
    background-size: auto 130%;
  }
  .example > .block:nth-of-type(3) > .side.-left {
    background-position: 78% 50%;
    background-size: auto 130%;
  }
  

.product__right {
    padding-left: 5rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: var(--color-text-primary);
    text-transform: capitalize;
}

.product__left img {
    border-radius: 1rem;
    width: inherit;
}

.product__title {
    font-size: 3.6rem;
    font-weight: 700;
    margin-top: 1rem;
}

.product__action {
    display: flex;
    flex-direction: row;
    padding: 2.5rem 0;
    justify-content: space-between;
}

.product__action-left {
    display: flex;
    flex-direction: row;
}

.product__action-right {
    display: flex;
    flex-direction: row;
}

.action-product {
    padding: 1rem;
    border-radius: 5rem;
    margin: 0 .4rem;
    background-color: var(--black-color);
    font-size: 1.4rem;
    font-weight: 700;
}

.view {
    font-family: 'nfts';
    cursor: text;
}

.view::before {
    content: '\e92a';
    padding: 0 .5rem;
}

.like {
    cursor: pointer;
    font-family: 'nfts';
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

.like:hover::before {
    color: red;
    transition: color .3s;
}

.like::before {
    content: '\e90b';
    padding-right: .5rem;
}

.share {
    font-family: 'nfts';
    background-color: var(--color-secondary);
    position: relative;
}

.share::before {
    content: "\e918";
    position: relative;
    top: .2rem;
    left: -.1rem;
}

.more {
    font-family: 'nfts';
    background-color: var(--color-secondary);
}

.more::before {
    content: '\e92c';
    padding: -.1rem;
}

.more:hover, .share:hover {
    color: var(--color-secondary);
    background-color: var(--color-ordinary);
    cursor: pointer;
    transition: all .5s;
}

.product__person {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product__person-item {
    display: flex;
    flex-direction: row;
    background-color: var(--color-secondary);
    padding: 1rem;
    padding-right: 10rem;
    border-radius: var(--border-raduis-md);
}

.person__left {
    border-radius: var(--border-raduis-md);
    width: 5rem;
    position: relative;
}
.person__left::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 50;
	display: block;
	content: '';
	width: 2rem;
	height: 2rem;
	background: rgba(255,255,255,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	 opacity: 0; 
}
.person__left:hover:before{
    animation: circleEffect .3s;
}
.person__left:hover {
    transform: scale(1.3);
    border-radius: var(--border-raduis-3xl);
    transition: all .4s;
}

.person__right {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    letter-spacing: .1rem;
}

.person__right span {
    margin-top: .5rem;
    font-size: 1.3rem;
}

.person__right h3 {
    font-size: 1.5rem;
    margin-top: .4rem;
}

.person__right h3:hover {
    color: var(--color-ordinary);
    cursor: pointer;
    transition: all .4s;
}

.product__description {
    padding: 2rem 0;
    letter-spacing: .1rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--color-text-onSecondary);
}

.product__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product__info span {
    padding-right: 1.2rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.product-price {
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.2rem;
    border-radius: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
}

.product-time {
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.2rem;
    border-radius: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
}


.product__button {
    width: 100%;
    border-radius: 1rem;
    padding: 1.5rem 2.5rem;
    margin: 2rem auto;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-text-Secondary);
    box-shadow: inset 0 0 0 0.2rem var(--color-text-secondary);
    -webkit-box-shadow: inset 0 0 0 0.2rem var(--color-text-secondary);
    -ms-box-shadow: inset 0 0 0 0.2rem var(--color-text-secondary);
    -o-box-shadow: inset 0 0 0 0.2rem var(--color-text-secondary);
    transition: all 0.3s ease;
    background-color: var(--color-primary);
}
.product__button:hover {
    color: var(--color-ordinary);
    transition: all 0.3s ease;
    background-color: var(--color-text-secondary);
}

.product__button::before {
    content: "\e901";
    font-family: 'nfts';
    padding-right: 1rem;
}

.product__extra {
    font-size: 0;
    box-shadow: 0 0 10rem rgba(0, 0, 0, 0.5);
    border-radius: .3rem;
    overflow: hidden;
    position: relative;
    height: 31.9rem;
    width: 100%;
    background-color: var(--color-primary);
}
.extra__title{
    display: flex;
    flex-direction: row;
    width: 90%;
    border-bottom: .1rem solid var(--gray-color);
}

.extra__title h4.active {
    color: var(--color-ordinary);
    border-bottom: .1rem solid var(--color-ordinary);
    z-index: 40;
    padding: 1rem;
    background-color: var(--color-secondary);
}

.show-tab{
    opacity: 1 !important;
    transition: opacity .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.extra__title h4 {
    font-size: 1.6rem;
    padding: 1.5rem 1.6rem;
    text-align: center;
    background: inherit;
    color: inherit;
    position: relative;
    transition: all 0.25s ease;
    cursor: pointer;

}


.extra__tabs {
    position: relative;
    height: 10rem;
    font-size: 1.6rem;
}

.extra__subtab {
    position: absolute;
    padding: 1rem;
    width: 100%;
    top: 0;
    opacity: 0;
    transition: 0.25s ease;
    color: var(--color-text-primary);
}

.extra__subtab h3 {
    font-weight: 200;
    margin: 1rem 0;
}

.extra__subtab p {
    margin: 1rem 0;
}

.extra__subtab p, .extra__subtab i {
    font-size: 1.3rem;
}

.tablist__history {
    height: 26rem;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.sublist {
    height: inherit;
}

.sublist li {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 1rem;
    border-bottom: .1rem solid var(--gray-color);
}

.sublist-account {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.sublist-account img {
    border-radius: 1rem;
    width: 5rem;
    height: 5rem;
}

.account__info {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--color-text-secondary);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 1rem;
}

.account__info--name {
    display: flex;
    flex-direction: row;
}

.account__info--name h6 a {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-text-primary);
}

.account__info--name span {
    padding: .1rem .5rem;
}

.sublist-price {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sublist-price h5 {
    font-size: 1.4rem;
    font-weight: 700;
}

.sublist-price span {
    font-size: 1.3rem;
    font-weight: 400;
}
.tablist__history{
z-index: 400;
}
.tablist__provenance{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--color-text-secondary);
    letter-spacing: .1rem;
    line-height: 2;
}